#content{
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: pink;


}

button{
  width:150px;
  color:black;
  background-color:pink;
}


#header{
  align-items: center;
  text-align: center;
  color: red;
}
a:link {
  color: pink;
}

a:visited {
  color: pink;
}

a:hover {
  color: blue;
}


#banner{
  background-attachment: fixed;
  background-image: url("dungeon_pic.jpeg");
  background-position: center top;
  background-size: cover;
  opacity: 0.8;
  text-align: center;
  height: 700px;

}

outline{
  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

h1{
  text-align: center;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding: 5px;
  margin: 5px;
  line-height: 2;
  font-weight: bold;
}

h1a{
  text-align: center;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  padding: 5px;
  margin: 5px;
  line-height: 2;
  font-weight: bold;
  color: black;
}

input{
  font-size: 15px;
  background-color:pink;
}

buttonfont{
  font-size: 15px;
}

select{
  font-size: 20px;
  background-color:pink;
}

h2{
  text-align: center;
  position: static;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  line-height: 2;
  font-weight: 400;
}

.textBox{
  height: 25px;
}

.team{
  text-align: center;
  line-height: 10;
  font-family: 'Raleway', sans-serif;
}

.info{
  background-attachment: fixed;
  background-image: url("https://i.imgur.com/EC0Nsb4.png");
  background-position: center top;
  background-size: cover;
  opacity: 0.8;
  text-align: center;
  height: 700px;
  line-height: 10;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  line-height: 1.25
}


article {
    margin-left: 200px;
    margin-right: 200px;
}

.dropdown-menu{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  padding: 10px 8px 10px 14px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: relative;
}

img{
  border-radius: 50%;
}

.team{
  align-items: center;
  text-align: center;
}
