{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}

     <body bgcolor = "#bb99d9">

      <center><br><br>
     <!-- <div id = "header"> -->
         <h1>StudyDungeon</h1> <br><br>
    Today, <a href="https://www.asme.org/career-education/articles/undergraduate-students/engineering-still-needs-more-women">
     women make up only 14% of the engineering workforce and less than 20% of engineering students</a>. 
    StudyDungeon is a resource to help UCSD students find people in their classes and form study groups.
    To get started, visit the "Search for a Class" page and enter a class you're enrolled in.
    </center>

  </body>

</body>
{%  endblock %}
