{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
<head>
     <style>
          article {
    margin-left: 200;
               margin-right: 200;
}
     </style>
</head>

     <body bgcolor = "#bb99d9">

    <br><br>
     <!-- <div id = "header"> -->
         <h1>StudyDungeon</h1> <br><br><article>
   Having an academic support nextwork is crucial to college success, but it can be difficult to form one as a 
   minority in your field. 
   Today, <a href="https://www.asme.org/career-education/articles/undergraduate-students/engineering-still-needs-more-women">
   women make up only 14% of the engineering workforce and less than 20% of engineering students</a>. Combined with the 
   fast-paced and competitive quarter system environment, this can leave many students without friends in their classes. <br>
    <br> StudyDungeon is here to help UCSD students find people in their classes and form study groups -
           to get started, visit the "Search for a Class" page and enter a class you're enrolled in. <br><br>
   Our goal is to help everyone strengthen their academic network here at UCSD, and especially to be a resource for 
           women and other minorities in STEM majors. </article>

  </body>

</body>
{%  endblock %}
