{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
<center><h1>StudyDungeon</h1></center>
    <body>
        <?php
$to = 'shishiglo@gmail.com';
$subject = 'new user';
$message = 'new';
$headers = 'From: sgdas@ucsd.edu' . "\r\n" .
    'Reply-To: sgdas@ucsd.edu' . "\r\n" .
    'X-Mailer: PHP/' . phpversion();

mail($to, $subject, $message, $headers);

?>
      <div id = "header">
        <h2>You have been added to this class!</h2>
      </div>
      <br> <br>
        <center>
            <a href="https://studydungeon.herokuapp.com/">Return to Class Search</a>
        </center>   
    </body>
{%  endblock %}
