{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
<body>

      <center>
     <section id = "banner">
       <div class = "bannerInfo">
             <outline><h1><b>StudyDungeon</b></h1></outline>
         <br>
             <outline><h2><b>Find your classmates!</b></h2></outline>
         <br>
         <br>

        <form action="/list" name="pin">
    <select name="department">
      <option value = "ANTH"> ANTH </option>
      <option value = "AWP"> AWP </option>
      <option value = "BENG"> BENG </option>
      <option value = "BICD"> BICD </option>
      <option value = "BIBC"> BIBC </option>
      <option value = "CENG"> CENG </option>
      <option value = "CHEM"> CHEM </option>
      <option value = "COGS"> COGS </option>
      <option value = "CSE"> CSE </option>
      <option value = "CAT"> CAT </option>
      <option value = "ECON"> ECON </option>
      <option value = "ETHN"> ETHN </option>
      <option value = "HUM"> HUM </option>
      <option value = "MATH"> MATH </option>
      <option value = "MMW"> MMW </option>
      <option value = "MCWP"> MCWP </option>
      <option value = "PHIL"> PHIL </option>
      <option value = "POLI"> POLI </option>
      <option value = "WCWP"> WCWP </option>
      <option value = "VIS"> VIS </option>
    </select>

    <input type = "text" name="number" placeholder="Course Code (eg. 12)" class = "textBox">
    <br/><br/>
            <button onlick = "MyFunction()">Search a Class</button></form>
  </div>
    </section>



    <section id = "one"> </section>

    <div class = "info">
    <h2> Our Mission</h2>
      <br><br>
      <center>
        <article>
      Having an academic support nextwork is crucial to college success, but it can be difficult to form one as a
      minority in your field.
      Today, <a target="_blank" href="https://www.asme.org/career-education/articles/undergraduate-students/engineering-still-needs-more-women">
      women make up only 14% of the engineering workforce and less than 20% of engineering students</a>. Combined with the
      fast-paced and competitive quarter system environment, this can leave many women without friends in their engineering
      classes. <br>
      <br> StudyDungeon is here to help UCSD students find friends in their classes and form study groups -
       to get started, visit the "Search for a Class" page and enter a class you're enrolled in. <br><br>
      Our goal is to help everyone strengthen their academic and social network here at UCSD, and especially to be a resource for
       women and other minorities in STEM majors.
      </article>
    </div><br>



    <!-- About us-->
    <section id = "two"> </section>
    <div class = "team">
    <h2>Meet the Goblins</h2>
    <p>
    </p>
    </div>
  </center>

</body>
{%  endblock %}
