{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
    <h1>StudyDungeon</h1>
    <body>
      <div id = "header">
        <h2>Pick a class dumbass</h2>
      </div>
    <br> <br>
        <form action="/list" name="pin">
    <select id = "department">
      <option value = "ANTH"> ANTH </option>
      <option value = "AWP"> AWP </option>
      <option value = "BENG"> BENG </option>
      <option value = "BICD"> BICD </option>
      <option value = "BIBC"> BIBC </option>
      <option value = "CENG"> CENG </option>
      <option value = "CHEM"> CHEM </option>
      <option value = "COGS"> COGS </option>
      <option value = "CSE"> CSE </option>
      <option value = "CAT"> CAT </option>
      <option value = "ECON"> ECON </option>
      <option value = "ETHN"> ETHN </option>
      <option value = "HUM"> HUM </option>
      <option value = "MATH"> MATH </option>
      <option value = "MMW"> MMW </option>
      <option value = "MCWP"> MCWP </option>
      <option value = "PHIL"> PHIL </option>
      <option value = "POLI"> POLI </option>
      <option value = "WCWP"> WCWP </option>
      <option value = "VIS"> VIS </option>
    </select>

    <input type = "text" id = "number" >
     Name 
    <input type = "text" id = "name" >
     Email
        <input type = "text" id = "email" >

            <button onlick = "MyFunction()">Submit</button></form>
    <p id="demo">
    </p>
    <script>
    function myFunction(){
        var x = document.getElementById("number").value;
                document.getElementById("demo").innerHTML=x;
    }
    </script>
  </body>
{%  endblock %}
