{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
    <h1>StudyDungeon</h1>
    <body>
      <div id = "header">
        <h2>Find your study buddy!</h2>
          <form action="/added">
              <select name="department" selected={{dept}}>
      <option value = "ANTH"> ANTH </option>
      <option value = "AWP"> AWP </option>
      <option value = "BENG"> BENG </option>
      <option value = "BICD"> BICD </option>
      <option value = "BIBC"> BIBC </option>
      <option value = "CENG"> CENG </option>
      <option value = "CHEM"> CHEM </option>
      <option value = "COGS"> COGS </option>
      <option value = "CSE"> CSE </option>
      <option value = "CAT"> CAT </option>
      <option value = "ECON"> ECON </option>
      <option value = "ETHN"> ETHN </option>
      <option value = "HUM"> HUM </option>
      <option value = "MATH"> MATH </option>
      <option value = "MMW"> MMW </option>
      <option value = "MCWP"> MCWP </option>
      <option value = "PHIL"> PHIL </option>
      <option value = "POLI"> POLI </option>
      <option value = "WCWP"> WCWP </option>
      <option value = "VIS"> VIS </option>
    </select>

    <input type = "text" name="number" value={{num}}>
           Name
    <input type = "text" name="name" >
     Email
        <input type = "text" name="email" >

            <button onlick = "MyFunction()">Add me to the List!</button></form>
      </div>
      <br> <br>
        <center>
      <p id="buddies">bud</p>
        </center>
      <script>
        window.onload = function() {
          var buddies = {{ buds|tojson }};
          var contact = {{ emails|tojson }};
          names = " ";
          for (i=0; i<buddies.length; i++) {
              names += "<b>Name: </b>";
              names += buddies[i];
              names += "  ||  "
              names += "<b>Can be reached at: </b>";
              names += contact[i];
              names += "<br>";
          }
          document.getElementById("buddies").innerHTML = names;
        }
      </script>    
    </body>
{%  endblock %}
