{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
    <h1>StudyDungeon</h1>
    <body>
      <div id = "header">
        <h2>Find your study buddy!</h2>
      </div>
      <br> <br>
        <center>
      <p id="buddies">bud</p>
        </center>
      <script>
        window.onload = function() {
          var buddies = {{ buds|tojson }};
          var contact = {{ emails|tojson }};
          names = " ";
          for (i=0; i<buddies.length; i++) {
              names += "Name: ";
              names += buddies[i];
              names += "  ||  "
              names += "Can be reached at: ";
              names += contact[i];
              names += "<br>";
          }
          document.getElementById("buddies").innerHTML = names;
        }
      </script>    
    </body>
{%  endblock %}
