{%  extends "mainpage.html" %}

{%  block title %}Home{%  endblock %}

{%  block content %}
<center><h1>StudyDungeon</h1></center><br><br>
<head>
    <style>
        
td {
    padding-right: 15px;
    align="left";
}
 th {
    padding: 15px;
     font-size: 25px;
}
    </style>
</head>
    <body>
     <div id = "header">
         <h2>Find a study buddy for: <b> {{ dept }} {{ num }} </b></h2>  </div>
      <br> <br>
        <center>
      <p id="people" name="people">No buddies for this class yet :( Be the first by signing up below!</p>
        </center>
      <script>
          var buddies = {{ buds|tojson }};
          var contact = {{ emails|tojson }};
          names = '<table align="left">';
          names += '<tr><th>Name</th><th>Contact</th></tr>';
          for (i=0; i<buddies.length; i++) {
              names += '<tr>' + "<td>Name: " + buddies[i] + '</td>' + '<td><a href="mailto:' + contact[i] + '">Email this Student</a></td></tr>';
          }
          if (names != " ") {
              names += '</table>';
          document.getElementById("people").innerHTML = names;
          }
          var dep = "okay" + {{ dept }};
      </script> 
          <br><br>
        <center>
          <form action="/added">
              <select name="department" id="department">
      <option selected="selected" value = "ANTH">ANTH</option>
      <option value = "AWP">AWP</option>
      <option value = "BENG">BENG</option>
      <option value = "BICD">BICD</option>
      <option value = "BIBC">BIBC</option>
      <option value = "CENG">CENG</option>
      <option value = "CHEM">CHEM</option>
      <option value = "COGS">COGS</option>
      <option value = "CSE">CSE</option>
      <option value = "CAT">CAT</option>
      <option value = "ECON">ECON</option>
      <option value = "ETHN">ETHN</option>
      <option value = "HUM">HUM</option>
      <option value = "MATH">MATH</option>
      <option value = "MMW">MMW</option>
      <option value = "MCWP">MCWP</option>
      <option value = "PHIL">PHIL</option>
      <option value = "POLI">POLI</option>
      <option value = "WCWP">WCWP</option>
      <option value = "VIS">VIS</option>
    </select>

    <input type = "text" name="number" value={{num}}>
           Name
    <input type = "text" name="name" placeholder="Jane Doe">
     Email
        <input type = "text" name="email" placeholder="youremail@ucsd.edu">

            <button onlick = "MyFunction()">Join this Class!</button></form>
        </center>
    </body>
{%  endblock %}
