
<!-- BLOCK 1 -->

<style>
  nav {
    background-color: linen;
  }
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- BLOCK 2 -->
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" href="/">Study Dungeon</a> -->
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- BLOCK 3 -->
      <!-- Replace the '#' with links to each of your converters -->
      <ul class="nav navbar-nav">
        <li><a href="/">Search for a Class</a></li>
        <li><a href="/about">Help</a></li>
       <!-- <li><a href="/mission">mission</a></li>
        <li><a href="/our team">our team</a></li -->
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
